body{
  background-color: coral;
  color: aqua;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;

  line-height: 1.6;
  margin: 0;
}

.box-1{
    background-color: #333;
}
