/* (Use the code below if you want to reset everything)
*{
    margin: 0;
    padding: 0;
}
*/
body{
  background-color: coral;
  color: aqua;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;

  line-height: 1.6;
  margin: 0;
}

.container{
    width: 80%;
    margin:auto;

}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left:5px red solid ;
    border-top:5px red solid;
    border-bottom:5px red solid;
    /*SAME AS ABOVE*/
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    /*Used code in the bottom to rewrite everything*/
    border:5px red solid;

    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px;
}
